<aside class="aside">
    <header class="header">
        <a class="logo" href="{{data.url}}"></a>
        <nav class="menu clearfix">
            <ul>
                <li><a class="deposit" href="#">Deposit</a></li>
                <li> • </li>
                <li><a class="withdraw" href="#">Withdraw</a></li>
                <li> • </li>
                <li><a class="refer" href="#">Refer</a></li>
                <li> • </li>
                <li><a href="#">Forum</a></li>
            </ul>
        </nav>
    </header>
    <div class="info">
        <p>
            This is your personal link. Keep it safe, and <em>keep it secret!</em>
            <a href={{data.url}} class="link">{{data.url}}</a>
        </p>
        <p>
            Earn bitcoins by promoting this site (Referral link):
            <span class="link" style="font-weight:normal;">http://bitcoinkamikaze.com/ref/83549</span>
        </p>
        <div class="info-box bold">
            <div>
                <span>Balance:</span><span class="value">{{privateData.balance}}</span>
                <a href="#" class="refresh"></a>
                <span>Current bet: </span><span class="value bet-value">{{privateData.betValue}}</span>
            </div>
            <span>Jackpot: </span><span class="value jackpot-value">0.001039</span>
        </div>
        <h2>How To Play</h2>
        <p>
            First choose your bet amount, then choose a square from the top row and work your way down. Each row contains a bomb so try to avoid it!
        </p>
        <p>
            If you hit a bomb, you lose your bet, otherwise you may choose to take your reward at any time by clicking the buttons to the right of the row you've just played.
        </p>
        <h2 class="inline">Random Jackpot</h2>
        <span class="treasure"></span>
        <p>
            Some games also contain a special jackpot square. Hit this and you will automatically win the jackpot in addition to whatever you win from the game being played. Note: Free play games are not eligible to receive jackpot winnings.
        </p>
    </div>
</aside>