<footer id="footer">
    <div>
        <h2>Latest Jackpot Winners</h2>
        <table>
            <tbody>
                <tr>
                    <th>Who</th>
                    <th>When</th>
                    <th>What</th>
                </tr>
                {{#each privateData.latestWinners}}
                    <tr>
                        <td>User {{this.userId}}</td>
                        <td>{{formatDate this.when 'YYYY-MM-DD HH:mm:ss'}}</td>
                        <td>{{this.amount}} XBT</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <h2>Biggest Jackpot Wins</h2>
        <table>
            <tbody>
                <tr>
                    <th>Who</th>
                    <th>When</th>
                    <th>What</th>
                </tr>
                {{#each privateData.biggestWinners}}
                    <tr>
                        <td>User {{this.userId}}</td>
                        <td>{{formatDate this.when 'YYYY-MM-DD HH:mm:ss'}}</td>
                        <td>{{this.amount}} XBT</td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <h2>Other sites you might also enjoy</h2>
        <a href="http://litecoinkamikaze.com/ref/89771"></a>
    </div>
</footer>